.container {
  background-color: var(--color2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bottom_left_picture {
  position: fixed;
  bottom: 59px;
  left: 58px;
  z-index: 1;
}

.top_left_picture {
  position: fixed;
  left: 99px;
  top: -2px;
  z-index: 1;
}

.bottom_right_picture {
  position: fixed;
  bottom: 0px;
  right: -20px;
  z-index: 1;
}

.container_child {
  z-index: 2;
  height: auto;
}

.bottom_right_picture svg path, .top_left_picture svg path, .bottom_left_picture svg path {
  fill: var(--color1);
}