.box {
  height: 584px;
  width: 800px;
  background-color: #181818;
  text-align: center;
  border-radius: 15px;
  position: relative;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Commissioner;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #999;
  text-align: center;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
  width: 411px;
}

.main__block {
  margin-top: 60px;

  display: flex;
  justify-content: space-between;
  align-items: end;
}

.light__button {
  width: 200px;
  height: 129px;
  border-radius: 15px;
  background: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.light__button__large {
  width: 240px;
  height: 155px;
  border-radius: 15px;
  background: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.system__button {
  background: linear-gradient(to right, #EFEFEF 50%, #1E1E1E 50%);
  width: 200px;
  height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  cursor: pointer;
}

.system__button svg {
  fill: transparent;
}

.system__button__large {
  background: linear-gradient(to right, #EFEFEF 50%, #1E1E1E 50%);
  width: 240px;
  height: 155px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.system__button__large svg {
  fill: transparent;
}

.system__button__left {
  background-color: #EFEFEF;
  width: 50%;
  height: 100%;
  border-radius: 15px 0 0 15px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 48px;
}

.system__button__right {
  background-color: #1E1E1E;
  width: 50%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.light__text {
  margin-top: 15px;
  color: #999;

  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dark__text {
  color: #FFF;
  margin-top: 15px;

  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dark__button {
  width: 200px;
  height: 129px;
  border-radius: 15px;
  background: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.dark__button__large {
  width: 240px;
  height: 155px;
  border-radius: 15px;
  background: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.box__bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #1E1E1E;

  display: flex;
  justify-content: flex-end;
}

.continue__button {
  margin: 26px 30px 30px 0;
  display: inline-flex;
  padding: 10px 15px;
  align-items: center;
  outline: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background: #FFF;
  color: #181818;
}

.back__button {
  padding: 10px 15px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #1E1E1E;
  text-decoration: none;
  color: #3C3C3C;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-right: 15px;
}