.box {
  height: 584px;
  width: 800px;
  background-color: #181818;
  text-align: center;
  border-radius: 15px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: Commissioner;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  color: #5A5A5A;
  text-align: center;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.send__button {
  color: #181818;
  font-family: Commissioner;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;

  border-radius: 10px;
  background: #FFF;

  display: inline-flex;
  padding: 10px 15px;
  align-items: center;

  cursor: pointer;
  margin-top: 65px;
}