.container {
  background-color: #1E1E1E;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.absolute__element__first {
  position: fixed;
  bottom: 59px;
  left: 58px;
  z-index: 1;
}

.absolute__element__second {
  position: fixed;
  left: 99px;
  top: -2px;
  z-index: 1;
}

.absolute__element__third {
  position: fixed;
  bottom: 2.55px;
  right: -20px;
  z-index: 1;
}

.container_child {
  z-index: 2;
  height: auto;
}