
.menu {
  padding: 20px;
  background-color: var(--color1);
  border-radius: 15px;
}

.logo {
  cursor: pointer;
}

.logo svg {
  width: 100%;
}

.logo svg path {
  fill: var(--color8)
}


.list {
  margin-top: 30px;
}

.icon_text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  cursor: pointer;
}