
.menu {
  padding: 20px;
  background-color: var(--block-backgroud-color);
  border-radius: 15px;
}

.logo {
  cursor: pointer;
}


.list {
  margin-top: 30px;
}

.icon_text {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  cursor: pointer;
}